{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<audio controls>
  <source src="horse.ogg" type="audio/ogg">
  <source src="horse.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
	{% for post in posts %}
	    <div class="post">
	        <div class="date">
	            {{ post.date }}
	        </div>
			<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
	        <p>{{ post.body|linebreaks }}</p>
	    </div>
	{% endfor %}
{% endblock %}
